@font-face {
    font-family: 'Congenial Cyrillic BETA';
    src: url('subset-CongenialCyrillicBETA-Medium.woff2') format('woff2'),
        url('subset-CongenialCyrillicBETA-Medium.woff') format('woff'),
        url('subset-CongenialCyrillicBETA-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LO:RRACH BETA';
    src: url('subset-LORRACHBETA-Heavy.woff2') format('woff2'),
        url('subset-LORRACHBETA-Heavy.woff') format('woff'),
        url('subset-LORRACHBETA-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Congenial Cyrillic BETA';
    src: url('subset-CongenialCyrillicBETA-Light.woff2') format('woff2'),
        url('subset-CongenialCyrillicBETA-Light.woff') format('woff'),
        url('subset-CongenialCyrillicBETA-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

