// --------------------------------------------------------- FONTS

// --------------------------------------------------------- RESET

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.oreo-main {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Arial';
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-weight: normal;
  overflow: hidden;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Arial';
  }

  img {
    display: block;
    object-fit: cover;
  }
}

// --------------------------------------------------------- SECTION

.section {
  display: block;
  position: relative;
}

.section-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  margin: 0 auto;
  height: auto;
  z-index: 1;
  @media screen and (max-width: 767px) {
    padding: 0px 20px;
    max-width: 480px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding: 0px 30px;
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1180px;
  }
  img {
    display: block;
    object-fit: cover;
  }
}

// --------------------------------------------------------- SECTION HERO

.milka-hero {
  display: block;
  height: 100vh;
  background: violet;
}
