@font-face {
  font-family: "Congenial";
  src: url("../fonts/CongenialCyrillicBETA-Medium.woff2") format("woff2"), url("../fonts/CongenialCyrillicBETA-Medium.woff") format("woff"), url("../fonts/CongenialCyrillicBETA-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Congenial";
  src: url("../fonts/CongenialCyrillicBETA-Light.woff2") format("woff2"), url("../fonts/CongenialCyrillicBETA-Light.woff") format("woff"), url("../fonts/CongenialCyrillicBETA-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "lorrach";
  src: url("../fonts/LORRACHBETA-Heavy.woff2") format("woff2"), url("../fonts/LORRACHBETA-Heavy.woff") format("woff"), url("../fonts/LORRACHBETA-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
[data-rails] {
  position: relative;
}

[data-scrollpage] {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.milka-main {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "lorrach";
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: #776cb1;
  font-weight: normal;
  overflow: hidden;
}
.milka-main h1,
.milka-main h2,
.milka-main h3,
.milka-main h4,
.milka-main h5,
.milka-main h6 {
  font-family: "lorrach";
}
.milka-main img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.section {
  display: block;
  position: relative;
}

.section-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  margin: 0 auto;
  height: auto;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .section-container {
    padding: 0px 20px;
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .section-container {
    padding: 0px 30px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .section-container {
    max-width: 1180px;
  }
}
.section-container img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-hero {
  display: flex;
  height: auto;
  min-height: 100vh;
  z-index: 1;
}
.section-hero .section-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  padding: 50px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 26px;
  height: auto;
  transform: translate(0%, 30%);
  transition: 1000ms ease 0s;
}

.active .section-container {
  transform: translate(0%, 0%);
}

.milka-logo {
  max-width: 38%;
  transform: translate(0%, -44%);
  transition: 1000ms ease 0s;
}

.active .milka-logo {
  transform: translate(0%, 0%);
  transition: 1000ms ease 0s;
}

.cow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 588px;
  position: absolute;
  transform: translate(-64%, 0%);
  transition: 1000ms ease 0s;
}
.cow img {
  display: block;
}
.cow img.cow_image {
  margin-bottom: -40px;
  margin-left: 100px;
  z-index: 2;
}

.active .cow {
  transform: translate(-64%, 44%);
}

.milka-title {
  display: inline-block;
  max-width: 720px;
  font-family: "Congenial";
  text-transform: uppercase;
  color: #86cbe9;
  font-size: 106px;
  font-weight: 500;
  line-height: 68px;
}
.milka-title span {
  font-size: 54px;
}
.milka-title span:first-child {
  font-weight: 300;
}
.milka-title span:last-child {
  color: #fff;
}

.milka-scrolldown {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  margin-left: -25px;
  background: none;
  cursor: pointer;
  transform: rotate(0deg);
  transition: 1000ms ease 0s;
  border: none;
}
.milka-scrolldown.up {
  transform: rotate(180deg);
}
.milka-scrolldown img {
  width: 100%;
}

.section-about {
  height: 100vh;
  z-index: 2;
}

.milka-bg {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  transition: 1000ms ease 0s;
  overflow: hidden;
}
.milka-bg img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sun {
  transform: translate(0px, 68%) scaleY(1);
}

.field1 {
  transform: translate(0px, 10%);
}
.field1 img {
  -o-object-fit: fill;
     object-fit: fill;
  height: 100%;
}

.field2 {
  transform: translate(0px, 20%);
}
.field2 img {
  -o-object-fit: fill;
     object-fit: fill;
}

.text {
  width: 96%;
  left: auto;
  right: 0px;
  transform: translate(0px, 0%);
  height: auto;
}
.text img {
  -o-object-fit: cover;
     object-fit: cover;
}

.gora1 {
  transform: translate(0px, 55%);
}
.gora1 img {
  -o-object-fit: fill;
     object-fit: fill;
}

.gora2 {
  transform: translate(0px, 75%);
}
.gora2 img {
  -o-object-fit: fill;
     object-fit: fill;
}

.clouds {
  transform: translate(0px, 84%);
}
.clouds img {
  -o-object-fit: fill;
     object-fit: fill;
}

.active .field1,
.active .field2,
.active .text,
.active .gora1,
.active .gora2,
.active .clouds {
  transform: translate(0px, 0%);
}
.active .sun {
  transform: translate(0px, 50%) scaleY(0);
}

.section-about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
}
.section-about .section-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  max-width: 100%;
  height: 100%;
  padding: 20px 50px;
}

.about-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  width: 50%;
  height: 100%;
}
.about-text:first-child {
  align-content: center;
}
.about-text:first-child .about-text-content {
  margin-top: 30%;
}
.about-text:nth-child(2) {
  justify-content: center;
}
.about-text:nth-child(2) .about-text-content {
  margin-bottom: 5%;
}

.about-text-content {
  display: block;
  position: relative;
  max-width: 590px;
}

.milka-about-title {
  display: inline-block;
  width: auto;
  max-width: 590px;
  font-family: "lorrach";
  font-size: 44.82px;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
}
.milka-about-title span {
  font-size: 36px;
}
.milka-about-title b,
.milka-about-title span {
  background: #776cb1;
  padding: 10px 12px 6px 12px;
}

.milka-subtitle {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  line-height: 1.2;
  font-family: "Congenial";
  margin-top: 24px;
}

img.milka-ice-image {
  display: none;
  position: relative;
  margin-bottom: -64px;
  width: auto;
  max-width: 100%;
}

.footer_logo {
  display: block;
  position: absolute;
  bottom: 40px;
}

.copy {
  display: block;
  width: 100%;
  text-align: right;
  font-family: "Congenial";
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
  margin-top: auto;
}

.milka-footer {
  background: #fff;
  padding: 20px 50px 16px 50px;
}
.milka-footer svg {
  display: block;
}